
<div class="left-navbar col-md-2" id="left-navbar">

  <div class="col-md-2">


    <div class="row-offcanvas row-offcanvas-left">
      <div id="sidebar" class="sidebar-offcanvas">
        <div class="col-md-12">
          <!--<h6>GROWTH PLUG</h6>-->
          <h3></h3>
          <ul class="nav nav-pills nav-stacked">
            <li ><a >Section</a></li>
            <li><a >Dashboard</a></li>
            <li><a >Website</a></li>
            <li><a >Visitors</a></li>
            <li><a >Reviews</a></li>
            <li class="active"><a ">Listening</a></li>
            <li><a >Appointment</a></li>
            <li><a >Settings</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>

<div simple-grid="myGridConfig" class="grid-container col-md-10"></div>
